<html><head></head><body>{% extends 'base.html'%}

{% block content %}
<div class="normalMargin desiredFont"> 
    <h1>What's this all about?</h1>
    <br>
    <p>The creator of this website has THREE goals in mind</p>
    <ol>
        <li>Make some money to support their family</li>
        <li>Help YOU pass YOUR exam</li>
        <li>Practice their Web Development Skills</li>
    </ol>
    <br>
    <p><b>Every dollar they make is not only motivation to continue updating this site. But, it's also a way to help out their family's situation. So please, consider paying to receive access to ALL of the resources the creator has spent time finding and/or making.</b></p>
    <br>
    <h3>To Contact the Creator, reach out to them through XXX@protonmail.com</h3>


</div>

{% endblock %}</body></html>
