<html><head></head><body>{% extends 'base.html'%}

{% block content %}
<div class="normalMargin desiredFont"> 
    <h1>What's this for?</h1>
    <br>
    <p><b>A tool for students and those wishing to make a change in our New Milford Community through an easily digestible and simple to use site that helps connect users with relevant volunteer opportunities that fit their already busy schedule.</b></p>
    <br>
    <h3>To contact the creators, reach out to them through XXX@gmail.com</h3>


</div>

{% endblock %}</body></html>
